AtomPair CA 1 CA 2 HARMONIC 3.824 0.5
AtomPair CA 1 CA 3 HARMONIC 7.093 0.5
AtomPair CA 1 CA 76 HARMONIC 6.941 0.5
AtomPair CA 1 CA 77 HARMONIC 5.909 0.5
AtomPair CA 2 CA 3 HARMONIC 3.822 0.5
AtomPair CA 2 CA 4 HARMONIC 7.17 0.5
AtomPair CA 2 CA 25 HARMONIC 6.706 0.5
AtomPair CA 2 CA 26 HARMONIC 5.519 0.5
AtomPair CA 2 CA 27 HARMONIC 6.673 0.5
AtomPair CA 2 CA 76 HARMONIC 7.262 0.5
AtomPair CA 2 CA 77 HARMONIC 6.083 0.5
AtomPair CA 2 CA 78 HARMONIC 6.277 0.5
AtomPair CA 3 CA 4 HARMONIC 3.824 0.5
AtomPair CA 3 CA 5 HARMONIC 6.355 0.5
AtomPair CA 3 CA 25 HARMONIC 5.882 0.5
AtomPair CA 3 CA 26 HARMONIC 6.29 0.5
AtomPair CA 3 CA 77 HARMONIC 6.608 0.5
AtomPair CA 3 CA 78 HARMONIC 4.731 0.5
AtomPair CA 3 CA 79 HARMONIC 7.699 0.5
AtomPair CA 4 CA 5 HARMONIC 3.829 0.5
AtomPair CA 4 CA 6 HARMONIC 5.33 0.5
AtomPair CA 4 CA 7 HARMONIC 6.055 0.5
AtomPair CA 4 CA 23 HARMONIC 6.846 0.5
AtomPair CA 4 CA 24 HARMONIC 5.991 0.5
AtomPair CA 4 CA 25 HARMONIC 4.851 0.5
AtomPair CA 4 CA 26 HARMONIC 7.095 0.5
AtomPair CA 4 CA 78 HARMONIC 5.62 0.5
AtomPair CA 4 CA 79 HARMONIC 6.991 0.5
AtomPair CA 4 CA 80 HARMONIC 7.131 0.5
AtomPair CA 5 CA 6 HARMONIC 3.819 0.5
AtomPair CA 5 CA 7 HARMONIC 6.65 0.5
AtomPair CA 5 CA 23 HARMONIC 7.415 0.5
AtomPair CA 5 CA 24 HARMONIC 5.654 0.5
AtomPair CA 5 CA 25 HARMONIC 5.83 0.5
AtomPair CA 5 CA 26 HARMONIC 7.181 0.5
AtomPair CA 6 CA 7 HARMONIC 3.8 0.5
AtomPair CA 6 CA 8 HARMONIC 6.72 0.5
AtomPair CA 6 CA 22 HARMONIC 7.612 0.5
AtomPair CA 6 CA 23 HARMONIC 5.01 0.5
AtomPair CA 6 CA 24 HARMONIC 5.222 0.5
AtomPair CA 6 CA 25 HARMONIC 7.369 0.5
AtomPair CA 7 CA 8 HARMONIC 3.822 0.5
AtomPair CA 7 CA 9 HARMONIC 6.847 0.5
AtomPair CA 7 CA 22 HARMONIC 7.365 0.5
AtomPair CA 7 CA 23 HARMONIC 5.36 0.5
AtomPair CA 7 CA 24 HARMONIC 7.513 0.5
AtomPair CA 7 CA 80 HARMONIC 5.336 0.5
AtomPair CA 7 CA 81 HARMONIC 7.083 0.5
AtomPair CA 7 CA 82 HARMONIC 7.47 0.5
AtomPair CA 8 CA 9 HARMONIC 3.827 0.5
AtomPair CA 8 CA 10 HARMONIC 6.944 0.5
AtomPair CA 8 CA 21 HARMONIC 5.644 0.5
AtomPair CA 8 CA 22 HARMONIC 5.66 0.5
AtomPair CA 8 CA 23 HARMONIC 5.771 0.5
AtomPair CA 8 CA 71 HARMONIC 7.588 0.5
AtomPair CA 8 CA 80 HARMONIC 6.073 0.5
AtomPair CA 8 CA 81 HARMONIC 6.064 0.5
AtomPair CA 8 CA 82 HARMONIC 4.897 0.5
AtomPair CA 9 CA 10 HARMONIC 3.825 0.5
AtomPair CA 9 CA 11 HARMONIC 6.205 0.5
AtomPair CA 9 CA 21 HARMONIC 6.365 0.5
AtomPair CA 9 CA 22 HARMONIC 7.63 0.5
AtomPair CA 9 CA 81 HARMONIC 7.853 0.5
AtomPair CA 9 CA 82 HARMONIC 4.745 0.5
AtomPair CA 9 CA 83 HARMONIC 6.444 0.5
AtomPair CA 10 CA 11 HARMONIC 3.823 0.5
AtomPair CA 10 CA 12 HARMONIC 7.029 0.5
AtomPair CA 10 CA 70 HARMONIC 7.572 0.5
AtomPair CA 10 CA 71 HARMONIC 7.945 0.5
AtomPair CA 10 CA 82 HARMONIC 4.663 0.5
AtomPair CA 10 CA 83 HARMONIC 3.603 0.5
AtomPair CA 10 CA 84 HARMONIC 4.978 0.5
AtomPair CA 11 CA 12 HARMONIC 3.824 0.5
AtomPair CA 11 CA 13 HARMONIC 6.867 0.5
AtomPair CA 11 CA 19 HARMONIC 6.557 0.5
AtomPair CA 11 CA 20 HARMONIC 7.268 0.5
AtomPair CA 11 CA 83 HARMONIC 6.434 0.5
AtomPair CA 11 CA 84 HARMONIC 5.192 0.5
AtomPair CA 11 CA 85 HARMONIC 7.122 0.5
AtomPair CA 12 CA 13 HARMONIC 3.825 0.5
AtomPair CA 12 CA 14 HARMONIC 7.134 0.5
AtomPair CA 12 CA 19 HARMONIC 7.13 0.5
AtomPair CA 12 CA 84 HARMONIC 5.855 0.5
AtomPair CA 12 CA 85 HARMONIC 5.426 0.5
AtomPair CA 12 CA 86 HARMONIC 6.328 0.5
AtomPair CA 12 CA 87 HARMONIC 7.403 0.5
AtomPair CA 13 CA 14 HARMONIC 3.826 0.5
AtomPair CA 13 CA 15 HARMONIC 5.901 0.5
AtomPair CA 13 CA 16 HARMONIC 7.477 0.5
AtomPair CA 13 CA 17 HARMONIC 5.698 0.5
AtomPair CA 13 CA 18 HARMONIC 6.67 0.5
AtomPair CA 13 CA 19 HARMONIC 6.339 0.5
AtomPair CA 13 CA 63 HARMONIC 7.145 0.5
AtomPair CA 13 CA 85 HARMONIC 6.976 0.5
AtomPair CA 13 CA 86 HARMONIC 5.531 0.5
AtomPair CA 13 CA 87 HARMONIC 6.323 0.5
AtomPair CA 14 CA 15 HARMONIC 3.827 0.5
AtomPair CA 14 CA 16 HARMONIC 5.946 0.5
AtomPair CA 14 CA 17 HARMONIC 5.722 0.5
AtomPair CA 14 CA 62 HARMONIC 7.527 0.5
AtomPair CA 14 CA 63 HARMONIC 7.596 0.5
AtomPair CA 14 CA 86 HARMONIC 6.205 0.5
AtomPair CA 14 CA 87 HARMONIC 5.176 0.5
AtomPair CA 14 CA 88 HARMONIC 5.757 0.5
AtomPair CA 14 CA 89 HARMONIC 6.367 0.5
AtomPair CA 15 CA 16 HARMONIC 3.823 0.5
AtomPair CA 15 CA 17 HARMONIC 5.834 0.5
AtomPair CA 15 CA 61 HARMONIC 7.939 0.5
AtomPair CA 15 CA 62 HARMONIC 4.676 0.5
AtomPair CA 15 CA 63 HARMONIC 4.821 0.5
AtomPair CA 15 CA 64 HARMONIC 5.352 0.5
AtomPair CA 15 CA 65 HARMONIC 7.101 0.5
AtomPair CA 15 CA 86 HARMONIC 6.091 0.5
AtomPair CA 15 CA 87 HARMONIC 6.408 0.5
AtomPair CA 15 CA 88 HARMONIC 6.007 0.5
AtomPair CA 15 CA 89 HARMONIC 7.479 0.5
AtomPair CA 16 CA 17 HARMONIC 3.823 0.5
AtomPair CA 16 CA 18 HARMONIC 6.595 0.5
AtomPair CA 16 CA 61 HARMONIC 5.843 0.5
AtomPair CA 16 CA 62 HARMONIC 2.822 0.5
AtomPair CA 16 CA 63 HARMONIC 5.82 0.5
AtomPair CA 16 CA 64 HARMONIC 7.716 0.5
AtomPair CA 17 CA 18 HARMONIC 3.824 0.5
AtomPair CA 17 CA 19 HARMONIC 6.839 0.5
AtomPair CA 17 CA 61 HARMONIC 5.653 0.5
AtomPair CA 17 CA 62 HARMONIC 5.026 0.5
AtomPair CA 17 CA 63 HARMONIC 7.103 0.5
AtomPair CA 18 CA 19 HARMONIC 3.826 0.5
AtomPair CA 18 CA 20 HARMONIC 6.669 0.5
AtomPair CA 18 CA 59 HARMONIC 6.385 0.5
AtomPair CA 18 CA 60 HARMONIC 5.326 0.5
AtomPair CA 18 CA 61 HARMONIC 4.112 0.5
AtomPair CA 18 CA 62 HARMONIC 6.078 0.5
AtomPair CA 18 CA 63 HARMONIC 7.174 0.5
AtomPair CA 19 CA 20 HARMONIC 3.825 0.5
AtomPair CA 19 CA 21 HARMONIC 6.923 0.5
AtomPair CA 19 CA 58 HARMONIC 7.905 0.5
AtomPair CA 19 CA 59 HARMONIC 5.722 0.5
AtomPair CA 19 CA 60 HARMONIC 5.075 0.5
AtomPair CA 19 CA 61 HARMONIC 6.382 0.5
AtomPair CA 19 CA 63 HARMONIC 7.622 0.5
AtomPair CA 20 CA 21 HARMONIC 3.826 0.5
AtomPair CA 20 CA 22 HARMONIC 6.746 0.5
AtomPair CA 20 CA 57 HARMONIC 7.483 0.5
AtomPair CA 20 CA 58 HARMONIC 5.766 0.5
AtomPair CA 20 CA 59 HARMONIC 5.088 0.5
AtomPair CA 20 CA 60 HARMONIC 6.777 0.5
AtomPair CA 21 CA 22 HARMONIC 3.827 0.5
AtomPair CA 21 CA 23 HARMONIC 6.952 0.5
AtomPair CA 21 CA 57 HARMONIC 5.946 0.5
AtomPair CA 21 CA 58 HARMONIC 5.081 0.5
AtomPair CA 21 CA 59 HARMONIC 6.873 0.5
AtomPair CA 21 CA 71 HARMONIC 7.904 0.5
AtomPair CA 22 CA 23 HARMONIC 3.826 0.5
AtomPair CA 22 CA 24 HARMONIC 6.98 0.5
AtomPair CA 22 CA 56 HARMONIC 6.104 0.5
AtomPair CA 22 CA 57 HARMONIC 4.788 0.5
AtomPair CA 22 CA 58 HARMONIC 6.503 0.5
AtomPair CA 23 CA 24 HARMONIC 3.824 0.5
AtomPair CA 23 CA 25 HARMONIC 6.684 0.5
AtomPair CA 23 CA 55 HARMONIC 6.859 0.5
AtomPair CA 23 CA 56 HARMONIC 5.736 0.5
AtomPair CA 23 CA 57 HARMONIC 6.843 0.5
AtomPair CA 23 CA 80 HARMONIC 7.806 0.5
AtomPair CA 24 CA 25 HARMONIC 3.824 0.5
AtomPair CA 24 CA 26 HARMONIC 6.963 0.5
AtomPair CA 24 CA 54 HARMONIC 7.062 0.5
AtomPair CA 24 CA 55 HARMONIC 5.3 0.5
AtomPair CA 24 CA 56 HARMONIC 6.474 0.5
AtomPair CA 25 CA 26 HARMONIC 3.823 0.5
AtomPair CA 25 CA 27 HARMONIC 6.122 0.5
AtomPair CA 25 CA 28 HARMONIC 7.599 0.5
AtomPair CA 25 CA 54 HARMONIC 6.592 0.5
AtomPair CA 25 CA 55 HARMONIC 6.739 0.5
AtomPair CA 25 CA 78 HARMONIC 7.509 0.5
AtomPair CA 26 CA 27 HARMONIC 3.821 0.5
AtomPair CA 26 CA 28 HARMONIC 6.836 0.5
AtomPair CA 26 CA 54 HARMONIC 7.293 0.5
AtomPair CA 27 CA 28 HARMONIC 3.802 0.5
AtomPair CA 27 CA 29 HARMONIC 6.735 0.5
AtomPair CA 27 CA 54 HARMONIC 6.201 0.5
AtomPair CA 28 CA 29 HARMONIC 3.823 0.5
AtomPair CA 28 CA 30 HARMONIC 6.118 0.5
AtomPair CA 28 CA 53 HARMONIC 5.159 0.5
AtomPair CA 28 CA 54 HARMONIC 3.936 0.5
AtomPair CA 28 CA 55 HARMONIC 7.488 0.5
AtomPair CA 29 CA 30 HARMONIC 3.826 0.5
AtomPair CA 29 CA 31 HARMONIC 7.293 0.5
AtomPair CA 29 CA 53 HARMONIC 5.362 0.5
AtomPair CA 29 CA 54 HARMONIC 6.666 0.5
AtomPair CA 30 CA 31 HARMONIC 3.824 0.5
AtomPair CA 30 CA 32 HARMONIC 6.719 0.5
AtomPair CA 30 CA 53 HARMONIC 5.606 0.5
AtomPair CA 30 CA 54 HARMONIC 7.873 0.5
AtomPair CA 30 CA 75 HARMONIC 7.595 0.5
AtomPair CA 30 CA 76 HARMONIC 7.708 0.5
AtomPair CA 31 CA 32 HARMONIC 3.822 0.5
AtomPair CA 31 CA 33 HARMONIC 6.818 0.5
AtomPair CA 31 CA 51 HARMONIC 7.983 0.5
AtomPair CA 31 CA 53 HARMONIC 6.593 0.5
AtomPair CA 31 CA 75 HARMONIC 6.634 0.5
AtomPair CA 32 CA 33 HARMONIC 3.82 0.5
AtomPair CA 32 CA 34 HARMONIC 6.992 0.5
AtomPair CA 32 CA 73 HARMONIC 7.067 0.5
AtomPair CA 32 CA 74 HARMONIC 5.286 0.5
AtomPair CA 32 CA 75 HARMONIC 4.11 0.5
AtomPair CA 32 CA 76 HARMONIC 7.145 0.5
AtomPair CA 33 CA 34 HARMONIC 3.821 0.5
AtomPair CA 33 CA 35 HARMONIC 6.644 0.5
AtomPair CA 33 CA 40 HARMONIC 7.353 0.5
AtomPair CA 33 CA 73 HARMONIC 6.01 0.5
AtomPair CA 33 CA 74 HARMONIC 5.619 0.5
AtomPair CA 33 CA 75 HARMONIC 6.869 0.5
AtomPair CA 34 CA 35 HARMONIC 3.825 0.5
AtomPair CA 34 CA 36 HARMONIC 7.014 0.5
AtomPair CA 34 CA 40 HARMONIC 6.809 0.5
AtomPair CA 34 CA 58 HARMONIC 7.913 0.5
AtomPair CA 34 CA 71 HARMONIC 6.76 0.5
AtomPair CA 34 CA 72 HARMONIC 6.227 0.5
AtomPair CA 34 CA 73 HARMONIC 4.468 0.5
AtomPair CA 34 CA 74 HARMONIC 6.431 0.5
AtomPair CA 35 CA 36 HARMONIC 3.827 0.5
AtomPair CA 35 CA 37 HARMONIC 6.583 0.5
AtomPair CA 35 CA 38 HARMONIC 5.098 0.5
AtomPair CA 35 CA 39 HARMONIC 4.966 0.5
AtomPair CA 35 CA 40 HARMONIC 4.703 0.5
AtomPair CA 35 CA 41 HARMONIC 6.611 0.5
AtomPair CA 35 CA 71 HARMONIC 6.032 0.5
AtomPair CA 35 CA 72 HARMONIC 5.9 0.5
AtomPair CA 35 CA 73 HARMONIC 6.414 0.5
AtomPair CA 36 CA 37 HARMONIC 3.824 0.5
AtomPair CA 36 CA 38 HARMONIC 4.847 0.5
AtomPair CA 36 CA 39 HARMONIC 5.402 0.5
AtomPair CA 36 CA 40 HARMONIC 7.249 0.5
AtomPair CA 36 CA 67 HARMONIC 6.294 0.5
AtomPair CA 36 CA 69 HARMONIC 6.138 0.5
AtomPair CA 36 CA 70 HARMONIC 5.729 0.5
AtomPair CA 36 CA 71 HARMONIC 5.025 0.5
AtomPair CA 36 CA 72 HARMONIC 6.618 0.5
AtomPair CA 37 CA 38 HARMONIC 3.822 0.5
AtomPair CA 37 CA 39 HARMONIC 6.236 0.5
AtomPair CA 37 CA 67 HARMONIC 7.537 0.5
AtomPair CA 37 CA 68 HARMONIC 7.663 0.5
AtomPair CA 37 CA 69 HARMONIC 4.647 0.5
AtomPair CA 37 CA 70 HARMONIC 4.967 0.5
AtomPair CA 37 CA 71 HARMONIC 6.461 0.5
AtomPair CA 37 CA 72 HARMONIC 7.166 0.5
AtomPair CA 38 CA 39 HARMONIC 3.826 0.5
AtomPair CA 38 CA 40 HARMONIC 6.538 0.5
AtomPair CA 38 CA 70 HARMONIC 7.867 0.5
AtomPair CA 38 CA 71 HARMONIC 7.816 0.5
AtomPair CA 38 CA 72 HARMONIC 6.892 0.5
AtomPair CA 39 CA 40 HARMONIC 3.808 0.5
AtomPair CA 39 CA 41 HARMONIC 5.818 0.5
AtomPair CA 40 CA 41 HARMONIC 3.819 0.5
AtomPair CA 40 CA 42 HARMONIC 6.574 0.5
AtomPair CA 41 CA 42 HARMONIC 3.825 0.5
AtomPair CA 41 CA 43 HARMONIC 6.911 0.5
AtomPair CA 42 CA 43 HARMONIC 3.825 0.5
AtomPair CA 42 CA 44 HARMONIC 5.867 0.5
AtomPair CA 42 CA 47 HARMONIC 7.304 0.5
AtomPair CA 43 CA 44 HARMONIC 3.819 0.5
AtomPair CA 43 CA 45 HARMONIC 7.112 0.5
AtomPair CA 43 CA 46 HARMONIC 7.266 0.5
AtomPair CA 43 CA 47 HARMONIC 4.548 0.5
AtomPair CA 43 CA 48 HARMONIC 6.047 0.5
AtomPair CA 43 CA 49 HARMONIC 6.311 0.5
AtomPair CA 44 CA 45 HARMONIC 3.798 0.5
AtomPair CA 44 CA 46 HARMONIC 5.396 0.5
AtomPair CA 44 CA 47 HARMONIC 4.934 0.5
AtomPair CA 44 CA 48 HARMONIC 7.112 0.5
AtomPair CA 45 CA 46 HARMONIC 3.822 0.5
AtomPair CA 45 CA 47 HARMONIC 5.654 0.5
AtomPair CA 45 CA 48 HARMONIC 7.501 0.5
AtomPair CA 46 CA 47 HARMONIC 3.826 0.5
AtomPair CA 46 CA 48 HARMONIC 6.737 0.5
AtomPair CA 46 CA 60 HARMONIC 6.748 0.5
AtomPair CA 46 CA 61 HARMONIC 6.07 0.5
AtomPair CA 46 CA 62 HARMONIC 7.308 0.5
AtomPair CA 46 CA 63 HARMONIC 7.951 0.5
AtomPair CA 47 CA 48 HARMONIC 3.822 0.5
AtomPair CA 47 CA 49 HARMONIC 6.289 0.5
AtomPair CA 47 CA 59 HARMONIC 6.945 0.5
AtomPair CA 47 CA 60 HARMONIC 5.318 0.5
AtomPair CA 47 CA 61 HARMONIC 6.82 0.5
AtomPair CA 48 CA 49 HARMONIC 3.828 0.5
AtomPair CA 48 CA 50 HARMONIC 6.392 0.5
AtomPair CA 48 CA 58 HARMONIC 6.452 0.5
AtomPair CA 48 CA 59 HARMONIC 5.038 0.5
AtomPair CA 48 CA 60 HARMONIC 5.795 0.5
AtomPair CA 48 CA 61 HARMONIC 7.567 0.5
AtomPair CA 49 CA 50 HARMONIC 3.823 0.5
AtomPair CA 49 CA 51 HARMONIC 6.483 0.5
AtomPair CA 49 CA 57 HARMONIC 6.579 0.5
AtomPair CA 49 CA 58 HARMONIC 4.76 0.5
AtomPair CA 49 CA 59 HARMONIC 5.944 0.5
AtomPair CA 49 CA 60 HARMONIC 7.789 0.5
AtomPair CA 50 CA 51 HARMONIC 3.825 0.5
AtomPair CA 50 CA 52 HARMONIC 6.852 0.5
AtomPair CA 50 CA 56 HARMONIC 6.914 0.5
AtomPair CA 50 CA 57 HARMONIC 5.653 0.5
AtomPair CA 50 CA 58 HARMONIC 6.167 0.5
AtomPair CA 50 CA 59 HARMONIC 7.643 0.5
AtomPair CA 51 CA 52 HARMONIC 3.825 0.5
AtomPair CA 51 CA 53 HARMONIC 5.652 0.5
AtomPair CA 51 CA 55 HARMONIC 5.956 0.5
AtomPair CA 51 CA 56 HARMONIC 4.315 0.5
AtomPair CA 51 CA 57 HARMONIC 5.431 0.5
AtomPair CA 51 CA 58 HARMONIC 7.599 0.5
AtomPair CA 52 CA 53 HARMONIC 3.827 0.5
AtomPair CA 52 CA 54 HARMONIC 6.208 0.5
AtomPair CA 52 CA 55 HARMONIC 5.654 0.5
AtomPair CA 52 CA 56 HARMONIC 6.509 0.5
AtomPair CA 53 CA 54 HARMONIC 3.813 0.5
AtomPair CA 53 CA 55 HARMONIC 4.822 0.5
AtomPair CA 53 CA 56 HARMONIC 6.299 0.5
AtomPair CA 54 CA 55 HARMONIC 3.823 0.5
AtomPair CA 54 CA 56 HARMONIC 7.152 0.5
AtomPair CA 55 CA 56 HARMONIC 3.826 0.5
AtomPair CA 55 CA 57 HARMONIC 6.792 0.5
AtomPair CA 56 CA 57 HARMONIC 3.826 0.5
AtomPair CA 56 CA 58 HARMONIC 6.869 0.5
AtomPair CA 57 CA 58 HARMONIC 3.826 0.5
AtomPair CA 57 CA 59 HARMONIC 6.849 0.5
AtomPair CA 58 CA 59 HARMONIC 3.823 0.5
AtomPair CA 58 CA 60 HARMONIC 6.536 0.5
AtomPair CA 59 CA 60 HARMONIC 3.824 0.5
AtomPair CA 59 CA 61 HARMONIC 6.483 0.5
AtomPair CA 60 CA 61 HARMONIC 3.823 0.5
AtomPair CA 60 CA 62 HARMONIC 6.957 0.5
AtomPair CA 60 CA 63 HARMONIC 6.421 0.5
AtomPair CA 61 CA 62 HARMONIC 3.831 0.5
AtomPair CA 61 CA 63 HARMONIC 5.433 0.5
AtomPair CA 62 CA 63 HARMONIC 3.823 0.5
AtomPair CA 62 CA 64 HARMONIC 6.387 0.5
AtomPair CA 63 CA 64 HARMONIC 3.817 0.5
AtomPair CA 63 CA 65 HARMONIC 6.793 0.5
AtomPair CA 63 CA 67 HARMONIC 6.417 0.5
AtomPair CA 63 CA 86 HARMONIC 6.355 0.5
AtomPair CA 64 CA 65 HARMONIC 3.815 0.5
AtomPair CA 64 CA 66 HARMONIC 5.547 0.5
AtomPair CA 64 CA 67 HARMONIC 5.84 0.5
AtomPair CA 64 CA 86 HARMONIC 6.041 0.5
AtomPair CA 65 CA 66 HARMONIC 3.826 0.5
AtomPair CA 65 CA 67 HARMONIC 5.438 0.5
AtomPair CA 65 CA 68 HARMONIC 5.763 0.5
AtomPair CA 65 CA 85 HARMONIC 7.397 0.5
AtomPair CA 65 CA 86 HARMONIC 4.678 0.5
AtomPair CA 65 CA 87 HARMONIC 6.38 0.5
AtomPair CA 65 CA 88 HARMONIC 7.061 0.5
AtomPair CA 66 CA 67 HARMONIC 3.815 0.5
AtomPair CA 66 CA 68 HARMONIC 4.846 0.5
AtomPair CA 66 CA 69 HARMONIC 7.534 0.5
AtomPair CA 66 CA 86 HARMONIC 7.129 0.5
AtomPair CA 67 CA 68 HARMONIC 3.827 0.5
AtomPair CA 67 CA 69 HARMONIC 5.621 0.5
AtomPair CA 67 CA 70 HARMONIC 7.939 0.5
AtomPair CA 67 CA 84 HARMONIC 7.059 0.5
AtomPair CA 67 CA 85 HARMONIC 6.46 0.5
AtomPair CA 67 CA 86 HARMONIC 6.023 0.5
AtomPair CA 68 CA 69 HARMONIC 3.822 0.5
AtomPair CA 68 CA 70 HARMONIC 7.175 0.5
AtomPair CA 68 CA 84 HARMONIC 6.047 0.5
AtomPair CA 68 CA 85 HARMONIC 4.366 0.5
AtomPair CA 68 CA 86 HARMONIC 5.451 0.5
AtomPair CA 69 CA 70 HARMONIC 3.823 0.5
AtomPair CA 69 CA 71 HARMONIC 6.949 0.5
AtomPair CA 69 CA 83 HARMONIC 6.524 0.5
AtomPair CA 69 CA 84 HARMONIC 5.66 0.5
AtomPair CA 69 CA 85 HARMONIC 6.277 0.5
AtomPair CA 70 CA 71 HARMONIC 3.82 0.5
AtomPair CA 70 CA 72 HARMONIC 6.038 0.5
AtomPair CA 70 CA 81 HARMONIC 6.152 0.5
AtomPair CA 70 CA 82 HARMONIC 5.388 0.5
AtomPair CA 70 CA 83 HARMONIC 4.453 0.5
AtomPair CA 70 CA 84 HARMONIC 5.335 0.5
AtomPair CA 70 CA 85 HARMONIC 7.983 0.5
AtomPair CA 71 CA 72 HARMONIC 3.823 0.5
AtomPair CA 71 CA 73 HARMONIC 6.305 0.5
AtomPair CA 71 CA 80 HARMONIC 7.692 0.5
AtomPair CA 71 CA 81 HARMONIC 5.3 0.5
AtomPair CA 71 CA 82 HARMONIC 5.125 0.5
AtomPair CA 71 CA 83 HARMONIC 6.271 0.5
AtomPair CA 71 CA 84 HARMONIC 6.712 0.5
AtomPair CA 72 CA 73 HARMONIC 3.822 0.5
AtomPair CA 72 CA 74 HARMONIC 6.639 0.5
AtomPair CA 72 CA 79 HARMONIC 6.793 0.5
AtomPair CA 72 CA 80 HARMONIC 5.254 0.5
AtomPair CA 72 CA 81 HARMONIC 4.053 0.5
AtomPair CA 72 CA 82 HARMONIC 6.519 0.5
AtomPair CA 73 CA 74 HARMONIC 3.825 0.5
AtomPair CA 73 CA 75 HARMONIC 6.865 0.5
AtomPair CA 73 CA 79 HARMONIC 5.654 0.5
AtomPair CA 73 CA 80 HARMONIC 5.234 0.5
AtomPair CA 73 CA 81 HARMONIC 6.516 0.5
AtomPair CA 74 CA 75 HARMONIC 3.823 0.5
AtomPair CA 74 CA 76 HARMONIC 7.054 0.5
AtomPair CA 74 CA 77 HARMONIC 7.592 0.5
AtomPair CA 74 CA 78 HARMONIC 6.255 0.5
AtomPair CA 74 CA 79 HARMONIC 5.054 0.5
AtomPair CA 74 CA 80 HARMONIC 7.081 0.5
AtomPair CA 75 CA 76 HARMONIC 3.826 0.5
AtomPair CA 75 CA 77 HARMONIC 5.745 0.5
AtomPair CA 75 CA 78 HARMONIC 5.317 0.5
AtomPair CA 75 CA 79 HARMONIC 6.616 0.5
AtomPair CA 76 CA 77 HARMONIC 3.825 0.5
AtomPair CA 76 CA 78 HARMONIC 5.877 0.5
AtomPair CA 77 CA 78 HARMONIC 3.825 0.5
AtomPair CA 77 CA 79 HARMONIC 6.682 0.5
AtomPair CA 78 CA 79 HARMONIC 3.827 0.5
AtomPair CA 78 CA 80 HARMONIC 6.884 0.5
AtomPair CA 79 CA 80 HARMONIC 3.823 0.5
AtomPair CA 79 CA 81 HARMONIC 6.951 0.5
AtomPair CA 80 CA 81 HARMONIC 3.825 0.5
AtomPair CA 80 CA 82 HARMONIC 6.8 0.5
AtomPair CA 81 CA 82 HARMONIC 3.825 0.5
AtomPair CA 81 CA 83 HARMONIC 6.947 0.5
AtomPair CA 82 CA 83 HARMONIC 3.822 0.5
AtomPair CA 82 CA 84 HARMONIC 6.73 0.5
AtomPair CA 83 CA 84 HARMONIC 3.823 0.5
AtomPair CA 83 CA 85 HARMONIC 6.916 0.5
AtomPair CA 84 CA 85 HARMONIC 3.822 0.5
AtomPair CA 84 CA 86 HARMONIC 6.833 0.5
AtomPair CA 85 CA 86 HARMONIC 3.822 0.5
AtomPair CA 85 CA 87 HARMONIC 6.313 0.5
AtomPair CA 86 CA 87 HARMONIC 3.825 0.5
AtomPair CA 86 CA 88 HARMONIC 6.693 0.5
AtomPair CA 87 CA 88 HARMONIC 3.825 0.5
AtomPair CA 87 CA 89 HARMONIC 6.782 0.5
AtomPair CA 88 CA 89 HARMONIC 3.826 0.5
